PROJECT_NAME=GeoAlert-VRP
ENV=development
API_V1_PREFIX=/api
DATABASE_URL=sqlite:///./geoalert.db
# Para Microsoft SQL Server (ejemplo):
# DATABASE_URL=mssql+pyodbc://sa:YourStrongPassword@localhost:1433/GeoAlertDB?driver=ODBC+Driver+17+for+SQL+Server
CORS_ORIGINS=["http://localhost:5173","http://localhost:3000","http://127.0.0.1:5173"]
VRPTW_TIME_LIMIT_SECONDS=3
BIG_M_PENALTY=9999
